flows.json
[{"id":"8d785186.03028","type":"tab","label":"Crop_Predictor","disabled":false,"info":""},{"id":"c047c851.677f48","type":"ui_form","z":"8d785186.03028","name":"","label":"","group":"e615ce42.c77a3","order":1,"width":0,"height":0,"options":[{"label":"N","value":"N","type":"number","required":true,"rows":null},{"label":"P","value":"P","type":"number","required":true,"rows":null},{"label":"K","value":"K","type":"number","required":true,"rows":null},{"label":"temperature","value":"temperature","type":"number","required":true,"rows":null},{"label":"humidity","value":"humidity","type":"number","required":true,"rows":null},{"label":"ph","value":"ph","type":"number","required":true,"rows":null},{"label":"rainfall","value":"rainfall","type":"number","required":true,"rows":null}],"formValue":{"N":"","P":"","K":"","temperature":"","humidity":"","ph":"","rainfall":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":150,"y":160,"wires":[["74afd1e6.7ede6","ad23718f.a8847"]]},{"id":"74afd1e6.7ede6","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":380,"y":100,"wires":[]},{"id":"ad23718f.a8847","type":"function","z":"8d785186.03028","name":"Global variables for Form Node","func":"global.set(\"N\",msg.payload.N)\nglobal.set(\"P\",msg.payload.P)\nglobal.set(\"K\",msg.payload.K)\nglobal.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"ph\",msg.payload.ph)\nglobal.set(\"rainfall\",msg.payload.rainfall)\nvar apikey=\"iNnypAt8bUfX1Lp4HO-w-KwPloz0i9XdiOldJuQOqB-E\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":420,"y":200,"wires":[["f16a50a5.671db"]]},{"id":"f16a50a5.671db","type":"http request","z":"8d785186.03028","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":640,"y":120,"wires":[["3ac45fe9.7cd67","1efce9b7.e1ba86"]]},{"id":"3ac45fe9.7cd67","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":780,"y":60,"wires":[]},{"id":"1efce9b7.e1ba86","type":"function","z":"8d785186.03028","name":"pre-prediction","func":"var N = global.get(\"N\")\nvar P = global.get(\"P\")\nvar K = global.get(\"K\")\nvar temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar ph = global.get(\"ph\")\nvar rainfall = global.get(\"rainfall\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"N\", \"P\", \"K\", \"temperature\", \"humidity\", \"ph\", \"rainfall\"]],\"values\": [[N,P,K,temperature,humidity,ph,rainfall]]}]} \nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":220,"wires":[["435dcdad.04e964"]]},{"id":"435dcdad.04e964","type":"http request","z":"8d785186.03028","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://eu-gb.ml.cloud.ibm.com/ml/v4/deployments/176e8aaa-8d42-4ad3-8d41-fc252837467e/predictions?version=2021-07-25","tls":"","persist":false,"proxy":"","authType":"","x":990,"y":140,"wires":[["94608b04.7641f8","234ecf81.4c636"]]},{"id":"94608b04.7641f8","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1110,"y":80,"wires":[]},{"id":"234ecf81.4c636","type":"function","z":"8d785186.03028","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1120,"y":220,"wires":[["47e17384.12d39c","8bd74e74.78bac"]]},{"id":"47e17384.12d39c","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1170,"y":300,"wires":[]},{"id":"8bd74e74.78bac","type":"ui_text","z":"8d785186.03028","group":"e615ce42.c77a3","order":2,"width":0,"height":0,"name":"","label":"The crop that should be used is:","format":"{{msg.payload}}","layout":"row-spread","x":1110,"y":340,"wires":[]},{"id":"f63f48af.d4c518","type":"ui_form","z":"8d785186.03028","name":"","label":"","group":"6f7d8561.f7441c","order":1,"width":0,"height":0,"options":[{"label":"State_Name","value":"State_Name","type":"text","required":true,"rows":null},{"label":"District_Name","value":"District_Name","type":"text","required":true,"rows":null},{"label":"Crop_Year","value":"Crop_Year","type":"number","required":true,"rows":null},{"label":"Season","value":"Season","type":"text","required":true,"rows":null},{"label":"Crop","value":"Crop","type":"text","required":true,"rows":null},{"label":"Area","value":"Area","type":"number","required":true,"rows":null}],"formValue":{"State_Name":"","District_Name":"","Crop_Year":"","Season":"","Crop":"","Area":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":480,"wires":[["f7d57b56.0e4a48","2667311d.068ebe"]]},{"id":"f7d57b56.0e4a48","type":"function","z":"8d785186.03028","name":"Global Variable for Yield Form Node","func":"global.set(\"State_Name\",msg.payload.State_Name)\nglobal.set(\"District_Name\",msg.payload.District_Name)\nglobal.set(\"Crop_Year\",msg.payload.Crop_Year)\nglobal.set(\"Season\",msg.payload.Season)\nglobal.set(\"Crop\",msg.payload.Crop)\nglobal.set(\"Area\",msg.payload.Area)\nvar apikey=\"JkLj_aNFQdbB4RdgFdb6tAmKS6LIoEa68LwGVwt00oPA\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":360,"y":540,"wires":[["493d58d3.c95d38"]]},{"id":"1e81002a.72555","type":"comment","z":"8d785186.03028","name":"Crop_Prediction","info":"","x":140,"y":80,"wires":[]},{"id":"cdacffe2.2fb4d","type":"comment","z":"8d785186.03028","name":"Yield_Prediction","info":"","x":140,"y":360,"wires":[]},{"id":"493d58d3.c95d38","type":"http request","z":"8d785186.03028","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":490,"y":460,"wires":[["7189cc2.8df2d34","72af97f.69d2d68"]]},{"id":"2667311d.068ebe","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":330,"y":420,"wires":[]},{"id":"7189cc2.8df2d34","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":700,"y":400,"wires":[]},{"id":"72af97f.69d2d68","type":"function","z":"8d785186.03028","name":"pre-prediction","func":"var State_Name = global.get(\"State_Name\")\nvar District_Name = global.get(\"District_Name\")\nvar Crop_Year = global.get(\"Crop_Year\")\nvar Season = global.get(\"Season\")\nvar Crop = global.get(\"Crop\")\nvar Area = global.get(\"Area\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"State_Name\", \"District_Name\", \"Crop_Year\", \"Season\", \"Crop\", \"Area\"]],\"values\": [[State_Name,District_Name,Crop_Year,Season,Crop,Area]]}]} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":690,"y":520,"wires":[["1c1e4c06.b632a4"]]},{"id":"1c1e4c06.b632a4","type":"http request","z":"8d785186.03028","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://jp-tok.ml.cloud.ibm.com/ml/v4/deployments/1017d44d-18e6-4f18-be3f-93789a417f9a/predictions?version=2021-07-25","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":480,"wires":[["6946b2c6.f1183c","f0e35abf.5699d8"]]},{"id":"6946b2c6.f1183c","type":"function","z":"8d785186.03028","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1040,"y":520,"wires":[["b8baed1d.06a04","e1e32a70.ed1158"]]},{"id":"f0e35abf.5699d8","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1050,"y":420,"wires":[]},{"id":"b8baed1d.06a04","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1210,"y":540,"wires":[]},{"id":"e1e32a70.ed1158","type":"ui_text","z":"8d785186.03028","group":"6f7d8561.f7441c","order":2,"width":0,"height":0,"name":"","label":"The yield is: ","format":"{{msg.payload}}","layout":"row-spread","x":1200,"y":600,"wires":[]},{"id":"9758e97b.e3d648","type":"ui_template","z":"8d785186.03028","group":"c1ab3da2.ef1f7","name":"","order":3,"width":0,"height":0,"format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    body{\nbackground-image:url(\"http://english.wafa.ps/image/NewsThumbImg/Default/407f8a9e-00ac-4553-b920-25f2893b49a4.jpg\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":460,"y":300,"wires":[[]]},{"id":"89f8b802.cc13e8","type":"comment","z":"8d785186.03028","name":"Fertilizer_Prediction for Small Scale Crops & Soil","info":"","x":220,"y":600,"wires":[]},{"id":"19cb890d.de0437","type":"ui_form","z":"8d785186.03028","name":"","label":"","group":"c1ab3da2.ef1f7","order":1,"width":0,"height":0,"options":[{"label":"Temparature","value":"Temparature","type":"number","required":true,"rows":null},{"label":"Humidity ","value":"Humidity ","type":"number","required":true,"rows":null},{"label":"Moisture","value":"Moisture","type":"number","required":true,"rows":null},{"label":"Soil_Type","value":"Soil_Type","type":"text","required":true,"rows":null},{"label":"Crop_Type","value":"Crop_Type","type":"text","required":true,"rows":null},{"label":"Nitrogen","value":"Nitrogen","type":"number","required":true,"rows":null},{"label":"Potassium","value":"Potassium","type":"number","required":true,"rows":null},{"label":"Phosphorous","value":"Phosphorous","type":"number","required":true,"rows":null}],"formValue":{"Temparature":"","Humidity ":"","Moisture":"","Soil_Type":"","Crop_Type":"","Nitrogen":"","Potassium":"","Phosphorous":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","x":110,"y":720,"wires":[["15829a31.cd2746","80a0b64.dbe0848"]]},{"id":"15829a31.cd2746","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":300,"y":680,"wires":[]},{"id":"80a0b64.dbe0848","type":"function","z":"8d785186.03028","name":"Global Variables for Fertilizer Prediction","func":"global.set(\"Temparature\",msg.payload.Temparature)\nglobal.set(\"Humidity\",msg.payload.Humidity)\nglobal.set(\"Moisture\",msg.payload.Moisture)\nglobal.set(\"Soil_Type\",msg.payload.Soil_Type)\nglobal.set(\"Crop_Type\",msg.payload.Crop_Type)\nglobal.set(\"Nitrogen\",msg.payload.Nitrogen)\nglobal.set(\"Potassium\",msg.payload.Potassium)\nglobal.set(\"Phosphorus\",msg.payload.Phosphorus)\nvar apikey=\"HoA0Yo_xpUx2TdyHHPrJ6TjE9ViTQpm0NiFboAuEqENl\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":780,"wires":[["9ae1e2c2.2268a"]]},{"id":"9ae1e2c2.2268a","type":"http request","z":"8d785186.03028","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":580,"y":700,"wires":[["306c1e12.558a72","c9dadf73.91264"]]},{"id":"306c1e12.558a72","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":760,"y":640,"wires":[]},{"id":"c9dadf73.91264","type":"function","z":"8d785186.03028","name":"pre-prediction","func":"var Temperature = global.get(\"Temperature\")\nvar Humidity = global.get(\"Humidity\")\nvar Moisture = global.get(\"Moisture\")\nvar Soil_Type = global.get(\"Soil_Type\")\nvar Crop_Type = global.get(\"Crop_Type\")\nvar Nitrogen = global.get(\"Nitrogen\")\nvar Potassium = global.get(\"Potassium\")\nvar Phosphorus = global.get(\"Phosphorus\")\nvar token = msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"} \nmsg.payload={\"input_data\":[{\"fields\": [[\"Temperature\", \"Humidity\", \"Moisture\", \"Soil_Type\", \"Crop_Type\", \"Nitrogen\", \"Potassium\", \"Phosphorus\"]],\"values\": [[Temperature,Humidity,Moisture,Soil_Type,Crop_Type,Nitrogen,Potassium,Phosphorus]]}]} \nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":770,"y":760,"wires":[["f2ffa81e.3f73b8"]]},{"id":"f2ffa81e.3f73b8","type":"http request","z":"8d785186.03028","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://jp-tok.ml.cloud.ibm.com/ml/v4/deployments/bbfefb3a-ed29-471f-adb9-0d9c9ba8b751/predictions?version=2021-08-16","tls":"","persist":false,"proxy":"","authType":"","x":870,"y":860,"wires":[["53758458.00c44c","65220f71.55c6c"]]},{"id":"53758458.00c44c","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":990,"y":720,"wires":[]},{"id":"65220f71.55c6c","type":"function","z":"8d785186.03028","name":"","func":"msg.payload=msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1050,"y":880,"wires":[["b7564439.b6bef8","d60fe535.6bb118"]]},{"id":"b7564439.b6bef8","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1220,"y":820,"wires":[]},{"id":"d60fe535.6bb118","type":"ui_text","z":"8d785186.03028","group":"c1ab3da2.ef1f7","order":2,"width":0,"height":0,"name":"","label":"The fertilizer for the respective Soil and Crop Type is:","format":"{{msg.payload}}","layout":"row-spread","x":1350,"y":920,"wires":[]},{"id":"e6bb3a77.b00ba8","type":"comment","z":"8d785186.03028","name":"Weather & Land","info":"","x":130,"y":880,"wires":[]},{"id":"e5af8d57.15c82","type":"openweathermap in","z":"8d785186.03028","name":"Bangalore","wtype":"current","lon":"","lat":"","city":"Bangalore","country":"IN","language":"en","x":180,"y":1080,"wires":[["bb1a3ee7.c5abf","f3b4818d.8393d","6632792b.1e5028","533d4613.3f4a68","a04d07c0.b41e88","ba5e3d1e.7d8ef","619232ef.db338c","9d39d2cf.96692","89a28168.0c43f"]]},{"id":"bb1a3ee7.c5abf","type":"debug","z":"8d785186.03028","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":1120,"wires":[]},{"id":"ba5e3d1e.7d8ef","type":"ui_text","z":"8d785186.03028","group":"712c23ee.763f5c","order":5,"width":0,"height":0,"name":"","label":"Atmospheric Pressure: ","format":"{{msg.payload.pressure}} hPa","layout":"row-spread","x":500,"y":1060,"wires":[]},{"id":"a04d07c0.b41e88","type":"ui_text","z":"8d785186.03028","group":"712c23ee.763f5c","order":4,"width":0,"height":0,"name":"","label":"Humidity:","format":"{{msg.payload.humidity}}%","layout":"row-spread","x":460,"y":1020,"wires":[]},{"id":"533d4613.3f4a68","type":"ui_text","z":"8d785186.03028","group":"712c23ee.763f5c","order":3,"width":0,"height":0,"name":"","label":"Temperature:","format":"{{msg.payload.tempc}}°C","layout":"row-spread","x":470,"y":980,"wires":[]},{"id":"6632792b.1e5028","type":"ui_text","z":"8d785186.03028","group":"712c23ee.763f5c","order":2,"width":0,"height":0,"name":"","label":"UV Index:","format":"{{msg.payload.windspeed}}","layout":"row-spread","x":460,"y":940,"wires":[]},{"id":"f3b4818d.8393d","type":"ui_text","z":"8d785186.03028","group":"712c23ee.763f5c","order":1,"width":0,"height":0,"name":"","label":"Weather:","format":"{{msg.payload.detail}}","layout":"row-spread","x":460,"y":900,"wires":[]},{"id":"619232ef.db338c","type":"change","z":"8d785186.03028","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<img src=\"http://openweathermap.org/img/w/{{msg.payload.icon}}.png\">","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":1200,"wires":[["1854c848.f4bb88"]]},{"id":"1854c848.f4bb88","type":"ui_template","z":"8d785186.03028","group":"712c23ee.763f5c","name":"Cloud","order":6,"width":10,"height":4,"format":"{{msg.template}}","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":720,"y":1200,"wires":[[]]},{"id":"9d39d2cf.96692","type":"http request","z":"8d785186.03028","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.agromonitoring.com/agro/1.0/image/search?start=1619555836&end=1622147836&polyid=60b175af8f735b7274e327ac&appid=c5f92719bc183570e310c128be8d5859","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":1260,"wires":[["483a7307.b17b8c"]]},{"id":"89a28168.0c43f","type":"http request","z":"8d785186.03028","name":"","method":"GET","ret":"obj","paytoqs":"ignore","url":"http://api.agromonitoring.com/agro/1.0/polygons/60b15c3902b4dbb7a2c0e26e?appid=c5f92719bc183570e310c128be8d5859","tls":"","persist":false,"proxy":"","authType":"","x":510,"y":1300,"wires":[["5a1c4f49.f2d0e"]]},{"id":"483a7307.b17b8c","type":"change","z":"8d785186.03028","name":"","rules":[{"t":"set","p":"template","pt":"msg","to":"<img src=\"{{msg.payload[0].image.dswi}}\" width=\"200\">","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":730,"y":1260,"wires":[["f6ea4aad.8b4cd8"]]},{"id":"f6ea4aad.8b4cd8","type":"ui_template","z":"8d785186.03028","group":"adb89bc3.5ac238","name":"PLOT","order":1,"width":10,"height":5,"format":"{{msg.payload}}","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":940,"y":1260,"wires":[[]]},{"id":"5a1c4f49.f2d0e","type":"ui_text","z":"8d785186.03028","group":"adb89bc3.5ac238","order":2,"width":0,"height":0,"name":"","label":"Land Size: ","format":"{{msg.payload.area}} ha","layout":"row-spread","x":740,"y":1320,"wires":[]},{"id":"54a5c0f2.527e6","type":"ui_template","z":"8d785186.03028","group":"712c23ee.763f5c","name":"","order":7,"width":"0","height":"0","format":"<div ng-bind-html=\"msg.payload\"></div>\n<style>\n    body{\nbackground-image:url(\"https://www.theindiaforum.in/sites/default/files/field/image/2021/05/28/ramkumar-radhakrishnan-wikimedia-1622193304.jpeg\");\n    }\n</style>","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":210,"y":1220,"wires":[[]]},{"id":"e615ce42.c77a3","type":"ui_group","name":"Crop Prediction","tab":"f509915.dea4f7","order":1,"disp":true,"width":6,"collapse":false},{"id":"6f7d8561.f7441c","type":"ui_group","name":"Yield_Prediction","tab":"f509915.dea4f7","order":2,"disp":true,"width":"6","collapse":false},{"id":"c1ab3da2.ef1f7","type":"ui_group","name":"Fertilizer_Prediction","tab":"f509915.dea4f7","order":3,"disp":true,"width":6,"collapse":false},{"id":"712c23ee.763f5c","type":"ui_group","name":"Real Time Weather Update","tab":"a8f8b5ad.c37748","order":2,"disp":true,"width":10,"collapse":false},{"id":"adb89bc3.5ac238","type":"ui_group","name":"PLOT","tab":"a8f8b5ad.c37748","order":1,"disp":true,"width":10,"collapse":false},{"id":"f509915.dea4f7","type":"ui_tab","name":"AI: Crop Assisted Farming","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"a8f8b5ad.c37748","type":"ui_tab","name":"Real Time Data","icon":"dashboard","disabled":false,"hidden":false}]